
*.db
*.ipch
*.testlog
*.sln
*.manifest
*.xml
*.sarif
*.vcxproj
*.filters
*.user
*.obj
*.tlog
*.log
*.exe
*.ilk
*.lastcodeanalysissucceeded
*.lastcodeanalysissucceeded
*.pdb
*.ipdb
*.iobj
*.idb
*.txt
SparkPlug/.vs/SparkPlug/v16/.suo
.vs/SparkPlug/v16/.suo
*.db-shm
*.db-wal
*.opendb
*.recipe
